@import '../../../../assets/styles/colors';

$max-height: 30rem;
$min-height: 20rem;

.product-overview {
    .gallery {
        .first-column, .second-column {
            padding: 0;

            height: $max-height;
            overflow: hidden;

            div {
                overflow: hidden;
            }

            img {
                width: 100%;
                object-fit: cover;
            }
        }

        .first-column {
            img {
                height: $max-height; 
            }

            @media screen and (max-width: 991px)
            {
                &, img {
                    height: $min-height;
                }
            }
        }

        .second-column {
            border-left: 5px solid $pic-divider-color;

            div:nth-child(1)
            {
                div {
                    padding: 0;
                    height: calc($max-height/2);
        
                    img {
                        height: calc($max-height/2);
                    }
        
                    @media screen and (max-width: 991px)
                    {
                        &, img {
                            height: calc($min-height/2);
                        }
                    }
                }
            }   

            div:nth-child(1)
            {
                border-bottom: 5px solid $pic-divider-color;
                border-right: 5px solid $pic-divider-color;
            }

            div:nth-child(2)
            {
                border-bottom: 5px solid $pic-divider-color;
            }

            div:nth-child(3)
            {
                border-right: 5px solid $pic-divider-color;
            }
        }
    }

    .product-description {
        border: 1px solid red;
        min-height: 20rem;
        padding-top: 1rem;

        div:nth-child(1) {
            .h4 {
                font-weight: 400;
            }

            .info {
                color: gray;
            }
        }

        .cart {
            width: 100%;
            height: 25rem;
            border-radius: 5px;
            box-shadow: 0 0 20px #dddddd;
            position: sticky;
            top: 0;

            .cart-header {
                div {
                    position: relative;

                    span {
                        padding: 0;
                        font-weight: 500;    
                    }

                    &:nth-child(1) {
                        span {
                            font-size: 1.5rem;
                        }
                    }

                    &:nth-child(2) {
                        span {
                            position: absolute;
                            right: 0;  
                            bottom: 0;  
                        }
                    }
                }
            }
        }
    }
}
