/* You can add global styles to this file, and also import other style files */
html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    max-width: 2520px;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';